table.fixed {table-layout:fixed; width:90%; margin-left:auto; margin-right:auto;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:130px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:80px;}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width:500px;}/*Setting the width of column 3.*/
table.fixed td:nth-of-type(4) {width:50px;}/*Setting the width of column 3.*/
table.fixed td:nth-of-type(5) {width:50px;}/*Setting the width of column 3.*/
table.fixed td:nth-of-type(6) {width:50px;}/*Setting the width of column 3.*/
.td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.tr:hover {background-color:#f5d1e7;}
.tr:nth-child(even) {

    background-color: #dddddd;
  }
.titleBar {
    background-color: #000;
    display: block;
    color: #fff;
    padding-left: 16px
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  